.category {
  height: 350px;
  width: 100%;
  max-width: 300px; /* Adjust max width to fit within container */
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 250px;
  padding: 10px;
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.category a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.category h2,
.category p {
  padding: 5px;
  margin-left: 15px;
  margin-right: 15px; /* Add right margin to keep text centered */
}

.category p {
  font-size: 12px;
  font-weight: bold;
  color: rgb(9, 132, 209);
}

.category__container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Adjust columns to fit container */
  gap: 4rem;
  padding: 20px; /* Add padding for better spacing */
}
